/dist-newstyle/
.stack-work/
stack.yaml.lock
/cabal.project.local
/.ghc.environment.*
*.o
*.o-boot
*.hi
*.hi-boot
*.po
*.po-boot
*.p_o
*.p_o-boot
*.chi
*.chs.h
*.dyn_o
*.dyn_o-boot
*.dyn_hi
*.dyn_hi-boot
.hpc
.hsenv
*.prof
*.aux
*.hp
*.log
*.tar.gz

*~
*.DS_Store
